@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'sans-serif';
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: url("cloth.avif");
  background-position: center;
  background-size: cover;
  position: relative;
  opacity: 5;
  overflow: hidden;
}

nav {
  display: flex;
  padding: 1px 5px;
  justify-content: space-between;
  align-items: center;
  background-color: white;

}


.logo img {
  position: relative;
  width: 5vh;
  transition: 0.5s all ease-in-out;
  border-radius: 100px;


}

.logo:hover img {
  transform: scale(2);
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 1px 10px;
  position: relative;
}

.nav-links ul li a {
  color: rgb(220, 142, 40);
  text-decoration: none;
  font-size: 15px;
}

.nav-links ul li ::after {
  content: '';
  width: 0%;
  height: 2px;
  background: brown;
  display: flex;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li :hover::after {
  content: '';
  width: 100%;

}

.text-box {
  width: 90%;
  color: burlywood;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 70px;
  color: rgb(198, 82, 0);
  margin: 2px 0 4px;
}

.text-box h2 {
  margin: 2px 30px;
  font-size: 40px;
  color: rgb(188, 107, 1);

}

.text-box h3 {
  font-size: 32px;
  margin: 2px 0 18px;
  color: rgb(211, 120, 0);
}

.mbtn {
  display: inline-block;
  text-decoration: none;
  color: rgb(189, 107, 0);
  border: 2px solid rgb(221, 160, 80);
  font-size: 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
  padding: 5px 10px;
}

.mbtn:hover {
  border: 1px solid brown;
  background: rgb(250, 230, 207);
  color: chocolate;
  transition: 0.5s all ease-in-out;
  
}

nav .fa {
  display: none;
  /* to hide icons from the bigger screen*/
}

nav .fa-solid {
  display: none;
}

@media(max-width : 700px) {

  /* to add different resolution for the smaller screen*/
  .text-box h1 {
    font-size: 40px;
  }

  .text-box h2 {
    font-size: 25px;
  }

  .text-box h3 {
    font-size: 22px;
  }

  .mbtn {
    font-size: 15px;
    padding: 5px 5px;
  }

  .nav-links ul li {
    display: block;
    padding: 10px 10px;
   
  }

  .nav-links {
    position: absolute;
    background: rgb(255, 235, 225);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: chocolate;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;

  }

 
  .nav-links ul {
    padding: 30px;

  }
}

/*  2nd section ,css for suggestion bodytype */
.suggestion {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  color: chocolate;
}

p {
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  color: burlywood;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.stlyetip {
  flex-basis: 31%;
  background-color: rgb(251, 240, 226);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  margin: 10px 0;
  transition: 0.5s;
}

.stlyetip:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/*  2nd section small screen adjustment */
@media(max-width:700px) {
  .row {
    flex-direction: column;
  }
}

/*  3rnd section ,css for seasontip */

.styletype {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.style {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;

}

.style img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgb(238, 210, 174, 0.5);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom:85%;
  opacity: 1;
}

/*  4th section ,css for styletype */

.season {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.s-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;

}

.s-col img {
  width: 100%;
  display: block;
}

.llayer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.llayer:hover {
  background: rgb(255, 139, 97,0.5);
}

.llayer h3 {
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: 50px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.llayer:hover h3 {
  bottom:20%;
  opacity:1;
}


  /* 5th section ,css for styletype */
  
.extratalk {
  width: 90%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.commentscol{
  flex-basis:30%;
  border-radius: 10px;
  margin-bottom: 10%;
  text-align: left;
  background: rgb(255, 238, 215);
  padding:10px 10px;
  cursor: pointer;
  display: flex;
}

.commentscol img{
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
  margin-bottom: 0;
  align-items: bottom;
}

.commentscol p{
 padding: 0 10px;
 color:saddlebrown;
}
.commentscol h3{
 margin-top: 15px;
 text-align: left;
 padding: 0 10px;
 color: rgb(80, 34, 1);
}
.commentscol .fa{
    color: gold;
    margin-left: 5px;
}
@media( max-width:700px){
  .commentscol img{
    margin-left: 5px;
    margin-right: 3px;
  }
}
  /* 6 section ,call to action */           

  .cta{
  margin: 30px auto;
    width: 100%;
    background-image: linear-gradient( rgb(0,0,0,0.3),rgba(0,0,0,0.6)),url("3.png");
     background-size: cover;
     background-position: center;
     text-align: center;
     padding: 100px 0px;
     margin-bottom:30px;
  }
  .cta  h1 .fa{
    color: rgb(249, 228, 176) ;
   }
  .cta a{
    margin: 1px 20px;
    color: rgb(255, 241, 214);
    border-radius: 5px;
  }
  .cta h1{
    color: whitesmoke;
    margin-bottom: 40px;
    padding: 0;
  }

.cta h4{
    color: whitesmoke;
    margin-bottom: 2px;
    
  }
  

  
  @media( max-width: 700px){
    .cta h1{
      font-size: 25px;
    }
  }
   /* footer ,call to action */ 
   .footer{
    width: 100%;
    text-align: center;
    color: rgb(141, 59, 0);
    align-items: center;
   }

   .footer h1{
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 600;

  
   }
   .footer h4{
    font-size: 20px;
    padding: 1px px;
    font-weight: 600;
  
   }
   .footer p{
    color: rgb(141, 59, 0);
    padding: 1px 0;
   }

   .icons .fa {
    color: rgb(238, 131, 0);
    margin: 0 13px;
    cursor: pointer;
    padding: 10px 0;
    align-items: center;

   }
.footer a{
  padding: 10px 50px;
  margin: 10px 10px;
}

   .fa-heart{
    color: rgb(238, 131, 0);
   }
.footer marquee{
    color:  rgb(141, 59, 0);
   }